@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; 
}

h2{
    color: #FF008A;
    font-size: 25px;
    text-align: center;
    padding-top: 13%;
}


.sucesso img{
    width: 75px;
    padding-left: 47%;
}

@media (max-width:500px) {
    h2 .sucesso{
        display: none;
    }
}
